/* bb_sets background image for both pages */
body {
  background-image: url("../../assets/images/marvelherobackground.png");
}
.small-image {
  width: 7%;
  margin: 7px;
  box-shadow: 5px 4px 11px 2px rgb(9 9 9 / 77%);
}

#thumbnail {
  box-shadow: 5px 4px 11px 2px rgb(9 9 9 / 77%);
}
.divWrap-Small-Images {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

#infobar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.sticky-div {
  position: absolute;
}

.save-fav {
  /* position: -webkit-sticky; */
  /* position: relative; */

  /* margin-left: 30px; */
  /* bottom: 0px; */
  /* top: 440px; */
  align-self: center;
  width: 50px;
  margin-top: 20px;
  background-color: transparent;
}
#favorites {
  /* position: relative; */
  align-self: flex-end;
  margin-right: 5px;
}

.spanClass {
  left: 150px;
  position: relative;
  /* width: 200px; */
  font-size: larger;
  font-weight: 700;
}

.spanClassNumber {
  left: 170px;
  position: relative;
  /* width: 200px; */
  font-size: larger;
  font-weight: 700;
}

/* Favorites page styles  */
.search-list {
  list-style-type: none;
  margin: auto;
}

.no-gif-message {
  color: white;
  font-weight: bold;
  font-style: italic;
  width: 70%;
  text-align: center;
  margin: auto;
}

.search-list li {
  color: darkgray;
  background-color: white;
  padding: 6px;
  margin-top: 3px;
  text-align: center;
  width: 100%;
  margin-left: 7px;
}

#primary {
  float: left;
  /* width: 20%; */

  padding-right: 1em;
  background-color: #323a3f;

  text-align: center;
  height: fit-content;
}

#navArea {
  /* margin-left: 15px; */
  margin: auto;
  display: inline-block;
}

.gif-div {
  margin-left: 10px;
  max-width: 300px;
  max-height: 300px;
  /* display: inline-block; */
  /* box-shadow: 5px 4px 11px 2px rgb(9 9 9 / 77%); */
  overflow: hidden;
  background-color: transparent;
  margin: 10px;
  float: left;
  border: none;
}
.column:last-child {
  float: left;
}
/* End favorites page styles  */

html {
  scroll-behavior: smooth;
}

.bigGiphyDiv {
  left: 20%;
  right: 20%;
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  /* position: absolute; */
  margin: 0 auto;
  margin-top: 15px;
  background-color: transparent;
}

.bigGiphyDivFav {
  left: 20%;
  right: 20%;
  /* width: 1300px; */
  display: flex;
  flex-wrap: wrap;
  height: auto;

  margin-left: 22%;
  background-color: transparent;
}

.giphy-div {
  margin-left: 10px;
  width: 220px;
  /* display: inline-block; */
  box-shadow: 5px 4px 11px 2px rgb(9 9 9 / 77%);
  overflow: hidden;
  background-color: transparent;
  /* margin: 2px auto; */
}

.giphys {
  height: -webkit-fill-available;
}

.giphysfav {
  /* height: -webkit-fill-available; */
  width: fit-content;
}

#marvelizer-logo {
  width: 150px;
}

.subnav-hero-section {
  text-align: center;
  background: #323a3f;
  background-size: cover;
  position: relative;
  overflow: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 200px;
}

.subnav-hero-section .subnav-hero-headline {
  color: #fefefe;
  background-color: red;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
}

.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 0.8rem;
  height: 40px;
}

.input-group {
  width: 60%;
}

.subnav-hero-headline:not(:hover) small {
  transition: 1.5s ease;
  font-size: 0.5em;
}

.subnav-hero-headline:hover small {
  transition: 0.8s ease;
  text-shadow: 5px 5px 3px rgb(63, 62, 62, 0.3);
  font-size: 1.4em;
}

.card-user-profile {
  position: relative;
  z-index: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1rem;
  border: 0;
  border-radius: 0;
  background: #fefefe;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
}

.card-user-profile > :last-child {
  margin-bottom: 0;
}

.card-user-profile:hover .card-user-profile-img {
  opacity: 1;
}

.card-user-profile-content {
  position: relative;
}

.card-user-profile-content::before {
  position: absolute;
  content: "";
  top: -3.4375rem;
  left: -1.875rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3.4375rem 0 0 31.25rem;
  z-index: 0;
  border-color: transparent transparent transparent #fefefe;
}

.card-user-profile-actions {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding: 1rem;
  background: #e6e6e6;
  background: #fefefe;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card-user-profile-actions > :last-child {
  margin-bottom: 0;
}

.card-user-profile-img {
  max-width: 100%;
  opacity: 0.85;
  transition: all 0.25s ease;
}

.card-user-profile-avatar {
  position: absolute;
  bottom: 100%;
  left: 1rem;
  z-index: 2;
  max-width: 5.625rem;
}

.card-user-profile-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-user-profile-name {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 1.5rem;
}

#search-input {
  text-transform: capitalize;
}

.card-user-profile-button {
  margin-bottom: 0;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
}

.card-user-profile-button + .card-user-profile-button {
  margin-left: 1rem;
}

.card-user-profile-info {
  font-size: 0.875rem;
  letter-spacing: 1px;
  opacity: 0.8;
}

#content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-the-author {
  background-color: #fefefe;
  padding: 1rem;
  border: 1px solid #cacaca;
}

.about-the-author .separator-left {
  text-align: left;
}

.about-the-author .separator-left::before,
.about-the-author .separator-left::after {
  display: table;
  content: " ";
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.about-the-author .separator-left::after {
  clear: both;
}

.about-the-author .separator-left::after {
  position: relative;
  width: 5rem;
  border-bottom: 0.125rem solid #1779ba;
  margin: 0.3rem auto 0;
  margin-left: 0;
}

.about-the-author .author-title {
  text-transform: uppercase;
}

.about-the-author .author-social {
  text-align: center;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.about-the-author .author-social .fa-stack {
  display: inline-block;
}

.about-the-author .author-social .fa-stack.facebook {
  color: #4c70ba;
}

.about-the-author .author-social .fa-stack.facebook:hover,
.about-the-author .author-social .fa-stack.facebook:focus {
  color: #3b5998;
}

.about-the-author .author-social .fa-stack.twitter {
  color: #83c3f3;
}

.about-the-author .author-social .fa-stack.twitter:hover,
.about-the-author .author-social .fa-stack.twitter:focus {
  color: #55acee;
}

.about-the-author .author-social .fa-stack.linkedin {
  color: #009ee8;
}

.about-the-author .author-social .fa-stack.linkedin:hover,
.about-the-author .author-social .fa-stack.linkedin:focus {
  color: #007bb5;
}

.about-the-author .author-image {
  border: 1px solid #cacaca;
}
#message-how-to {
  font-weight: 900;
  color: #cacaca;
}
.save-fav:hover {
  transition: 0.3s ease;
  border-radius: 1px;
  width: 55px;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
  cursor: -webkit-grab;
}
.giphyLabel {
  position: relative;
  font-size: 13px;
  font-weight: 600;
  color: #cacaca;
}
#copy-message {
  margin: 4px;
  width: 350px;
  height: 17px;
}
#save-message {
  margin-top: 10px;
  align-self: center;
  text-shadow: 4px 1px 6px rgb(0, 0, 0);
  font-size: 24px;
}
/* .gif-area {
  width: 50%;
} */
.giphy-div:hover {
  cursor: -webkit-grab;
  padding: 10px;
  transition: 0.4s cubic-bezier(0, 0, 0, 3.07);
  border-radius: 3px 20px 3px 20px;
  border-width: 2px;
  border-color: #ff7b00;
  border-color: #fa6711;
  box-shadow: 0px 0px 11px 5px rgb(255 131 0 / 70%);
}
.search-name {
  cursor: -webkit-grab;
  text-transform: capitalize;
}

.giphy-div:not(:hover) {
  transition: 0.4s ease;
}

.embeding {
  margin-left: 10px;
  height: 22px;
}

.small-images-div {
  width: 400px;
  flex-wrap: wrap;
  height: fit-content;
  margin: 0 auto;
  margin-top: 15px;
  background-color: transparent;
  display: flex;
  border: dashed;
  width: -webkit-fill-available;
  justify-content: center;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
}
.search-name:hover {
  background-color: #fa6711;
  color: #0a0a0a;
}
.copy-button {
  left: 300px;
  margin-top: 8px;
}

.giphy-divFav {
  height: fit-content;
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
  width: -webkit-fill-available;
  /* width: -webkit-fill-available; */
  height: auto;
}
.my-giphy-line {
  width: 300px;
}

@media (max-width: 640px) {
  .bigGiphyDiv {
    left: 3%;
    right: 3%;
    width: 80%;
    height: fit-content;
    flex-wrap: wrap;
  }
  .giphys {
    width: 100px;
  }
  .search-name {
    font-size: 12px;
  }
  .small-image {
    width: 70px;
  }

  header {
    height: 40px;
  }

  .save-fav {
    align-self: center;
  }
  #save-message {
    font-size: 12px;
  }
  .input-group-button {
    width: 25%;
  }
  .author-title {
    margin-top: 5px;
  }
  .subnav-hero-section {
    height: 150px;
  }
  #navArea {
    display: initial;
    width: 200px;
  }
  .back-button {
    font-size: 12px;
  }
  #primary {
    width: 45%;
  }
  .bigGiphyDivFav {
    flex-direction: column;
    width: min-content;
  }

  .giphyLabel {
    font-size: 9px;
  }
  .search-list li {
    width: 95%;
  }
  #message-how-to {
    font-size: 11px;
  }
  #copy-message {
    width: 160px;
  }
  #marvelizer-logo {
    width: 90px;
  }
  .giphy-div {
    width: 80px;
  }
  .giphy-divFav {
    width: 130px;
    margin-left: 30px;
    /* height: fit-content; */
  }
  .my-giphy-line {
    width: 150px;
  }
}

/* @media print, screen and (min-width: 640px) {
  .medium-4 {
    width: 32.33333%;
  }
} */
